<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.sth.domain.mappers.test.AuctionMapper">

	<select id="" resultType="egovframework.sth.domain.pay.domain.AuctionDTO">
		
	</select>
</mapper>