<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.sth.domain.board.mapper.BoardMapper">
	
	<resultMap id="BoardDTO"
		type="egovframework.sth.domain.board.domain.BoardDTO" />
	<resultMap type="egovframework.sth.domain.board.domain.BoardViewVO" id="BoardViewVO"></resultMap>



	<insert id="insBoard" useGeneratedKeys="true" keyProperty="b_no">
		INSERT INTO board (
		b_title,b_ctnt,b_hit,b_gender,b_img,b_price,b_loc,b_age,b_tt,b_enddt,b_ns,b_type,b_auth,b_del
		)values
		(#{b_title},#{b_ctnt},#{b_hit},#{b_gender},"test.jpg",#{b_price}
		,#{b_loc},#{b_age},#{b_tt},#{b_enddt},#{b_ns},#{b_type},#{b_auth},#{b_del})
	</insert>



	<select id="selBoardList" >
		SELECT B.b_no, B.b_title, B.b_dt, B.b_hit,
		B.b_img,B.b_state,B.b_price,
		B.b_loc_sido, B.b_loc_gugun , B.b_age, B.b_tt, B.b_enddt,
		B.m_no, B.b_type,B.b_auth,M.m_nickname AS writer
		FROM board AS B
		LEFT
		JOIN member AS M ON B.b_no = M.m_no WHERE B.b_del = 0
		ORDER BY B.b_no
		DESC
		<if test="searchType == " />

	</select>

	<select id="selBoardView" resultMap="BoardViewVO">
		SELECT B.b_no, B.b_title,
		B.b_ctnt, B.b_hit,
		B.b_img, B.b_state, FORMAT(B.b_price, 0) AS b_price,
		B.b_loc_sido, B.b_loc_gugun, B.b_age, B.b_tt,
		DATE_FORMAT(B.b_enddt, '%Y-%m-%d %H:%i:%s') AS b_enddt,
		DATE_FORMAT(B.b_dt, '%Y-%m-%d %H:%i:%s') AS b_dt,
		 B.b_ns, B.b_gender ,B.m_no,
		B.b_type, B.b_auth,
		M.m_nickname AS b_writer, 
		FORMAT(AC.ac_startprice, 0) AS ac_startprice, AC.ac_cur_winner,
		FORMAT(AC.ac_price, 0) AS ac_price
		FROM board AS B
		LEFT JOIN member AS M
		ON B.m_no = M.m_no 
		LEFT JOIN auction AS AC
		ON B.b_no = AC.b_no
		WHERE B.b_no = #{b_no} AND B.b_del = 0
	</select>

	<update id="updpatImg">
		update board
		set b_img = #{b_img}
		where b_no = #{b_no}
	</update>
</mapper>