<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.sth.domain.member.mapper.MemberMapper">

	<select id="selMember"
		resultType="egovframework.sth.domain.member.domain.MemberDTO">
		select * from member where m_email=#{m_email}
	</select>

	<insert id="insMember">
		insert into member (m_email, m_pw, m_name,
		m_nickname, m_phone, m_address, m_state, m_auth)
		values (#{m_email}, #{m_pw},
		#{m_name}, #{m_nickname}, #{m_phone},
		#{m_address}, #{m_state}, #{m_auth})
	</insert>

	<!-- 이메일 중복 체크 -->
	<select id="emailChk" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE m_email = #{m_email}
	</select>

	<!-- 닉네임 중복 체크 -->
	<select id="nameChk" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE m_nickname = #{m_nickname}
	</select>
	
	<select id="readMember" resultType="int">
	select m_email from member
	where m_name={#m_name}, m_email={#m_email}
	</select>
	
	

	<select id="chckM_auth"
		resultType="egovframework.sth.domain.member.domain.MemberDTO">
		select *
		from member
		where m_email = #{m_email}
		and m_auth = #{m_auth};
	</select>

	<update id="upM_authstate">
		update member
		set m_authstate = 1
		where m_auth = #{m_auth}
		and m_email = #{m_email}
	</update>

	<update id="updateMember"> 
	UPDATE member 
	SET m_pw=#{m_pw}, m_phone=#{m_phone}, m_nickname=#{m_nickname}, m_zipcode=#{m_zipcode}, m_address=#{m_address} WHERE m_email=#{m_email} </update>
	
	<select id="findEmail" parameterType="String" resultType="String">
		select id from member where m_name=#{m_name}, m_phone=#{m_phone}
	</select>

</mapper>