@charset "UTF-8";

.view-container {
	width: 100%;
	height: 100%;
}

.view-main-container {
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}

.view-thumbnail {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	padding: 8px;
	position: relative;
	text-align: center;
}

.view-thumbnail-image {
	width: 100%;
	height: 100%;
}

.view-auth {
	position: absolute;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 25%);
	font-weight: 600;
	background-color: rgba(0, 0, 0, 35%);
	top: 15px;
	border-radius: .3rem;
	padding: 5px;
}

.view-auth-0 {
	color: #f7a000;
}

.view-auth-1 {
	color: #17c400;
}

.view-top-container {
	width: 100%;
	flex-grow: 1;
	margin-bottom: 14px;
}

.view-subtitle-container {
	display: flex;
	margin: 5px 0 0 0
}

.view-type, .view-date, .view-nowprice {
	flex-grow: 1;
	text-align: left;
	font-size: 12px;
	color: #636363;
}

.view-info {
	text-align: right;
} 

.view-hit {
	font-size: 12px;
	color: #636363;
}

.view-hit, .view-info {
	flex-grow: 1;
	display: inline;
	text-align: right;
}

.view-state {
	display: inline;
	border: none;
	border-radius: 0.6rem;
	font-size: 12px;
	padding: 2px 5px;
	margin-right: 5px;
}

.view-state.state {
	background-color: #3b93e5;
	color: #ffffff;
}
.view-state.trade {
	background-color: #e58d3b;
	color: #ffffff;
}

.view-title-container {
	font-size: 40px;
	text-align: left;
}

.view-price {
	text-align: left;
	font-size: 36px;
}

.view-price-container {
	display: grid;
	grid-template-columns: .4fr .6fr;
	border-bottom: 1px solid black;
}

.view-auction {
	text-align: right;
	font-size: 13px;
}

.view-info-container {
	display: grid;
	grid-template-columns: .3fr .7fr;
	text-align: left;
	gap: 5px;
	margin: 5px 0;
	font-size: 14px;
}

.view-button-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.view-enddate {
	color: red;
}

.view-detail {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #005e93;
	font-size: 30px;
	font-weight: bold;
	margin: 8px 0px;
	cursor: pointer;
}

.view-detail::before,
.view-detail::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 94, 147, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.view-img-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, auto));
	gap: 10px;
	margin-bottom: 20px;
}

.view-img {
	width: 100%;
	height: 100%;
}

.view-img-item {
	width: 100%;
	height: 100%; 
}

.view-detail-content {
	text-align: left;
	font-size: 20px;
	margin-bottom: 100px;
}

.view-detail-report {
	text-align: right;
	vertical-align: middle;
}

.view-reply-text-container {
	margin-bottom: 20px;
}

.view-reply-container {
	text-align: left;
	padding: 4px
}

.view-reply-write {
	border: 1px solid #bfbfbf;
	margin-top: 10px;
}

.reply-form {
	display: grid;
	grid-template-columns: .9fr .1fr;
}

.view-reply-textarea {
	border: none;
	height: 80px;
	resize: none;
	outline-style: none;
	padding: 5px;
}

.reply-button-container {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.view-reply-button {
	background-color: #ffffff;
	border: 1px solid #bfbfbf;
	border-radius: 0.2rem;
	margin: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.view-reply-list-header {
	display: grid;
	grid-template-columns: 2.3fr .6fr .1fr;
	gap: 6px;
	margin-bottom: 4px;
}

.view-reply-writer {
	text-align: left;
	font-weight: bold;
}

.view-reply-date { 
	text-align: right;
	font-size: 12px;
	text-decoration-color: #bfbfbf;
}

.view-reply-content {
	cursor: pointer;
}

.view-reply-piece {
	padding: 8px;
	box-shadow: 1px 1px 1px 1px #bfbfbf;
	margin: 10px 0;
	border-radius: .3rem;
}

.view-detail-footer {
	margin: 20px 0;
}

.view-button-return {
	font-size: 28px;
	color: #bfbfbf;
	cursor: pointer;
	border: 2px solid #bfbfbf;
	border-radius: 3rem;
	padding: 5px;
}

.view-detail-button {
	background-color: white;
	border: none;
	color: #bfbfbf;
	text-decoration: none;
	cursor: pointer;
}

.rereply {
	margin-left: auto;
}

.view-info-button {
	height: 45px;
	font-size: 18px;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: .25rem;
}

.view-info-button.favorite {
	background-color: #ffa0a0;
	display: flex;
    justify-content: center;
    align-items: center;
}

.view-info-button.message {
	background-color: #53f16d;
}

.view-info-button.buy, .auction, .none {
	background-color: #419bee;
}

.view-reply-message {
	cursor: pointer;
}

.view-reply-delete .fa-times {
	cursor: pointer;
	margin: auto;
}

.view-info-title {
	border-right: 1px solid #bfbfbf;
}