@charset "UTF-8";

body {
	min-width: 1400px;
}

.findpwpage > h2 {
	text-align: black;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	/* line-height: 42px; */
	color: #000000;
}

.findpwpage {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding: 85px;
}

.find-input {
	width: 100%;
}

.find-input input {
	width: 100%;
	padding: 10px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
}

.finddiv {
	padding: 30px;
}

.find-text {
	margin: 30px;
}

.finddiv #findBtn {
	background-color: #005E93; /* Green */
	border: none;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	cursor:pointer;
}

.finddiv #gologinBtn {
	background-color: #F2F2F2; /* Green */
	border: none;
	color: black;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	cursor:pointer;
}