@charset "UTF-8";

div#loginPage {
	width: 100%;
	color: black;
}

.contents > h2 {
	text-align:center;
}

input[type="checkbox"]{
	margin: 10px;
}

.contents {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

.member-txt, .label {
	text-align: left;
}

.member-input {
	width: 100%;
}

.member-input input {
	width: 100%;
}




