@charset "UTF-8";

/* .container {
  overflow: hidden;
}
.sidebar, .content{
  height: 500px;
  border-radius: 4px;
  margin: 20px;
  border:1px solid #777;
}
.sidebar{
  width: 300px;
}
.content{
  width: 630px;
} */

.page-body {
	padding-top: 40px;
}