@charset "UTF-8";

.container {
	background-color: #F2F2F2;
	border-radius: 9px;
	height: 100%;
}

.sidebar>h2 {
	font-size: 30px;
	padding: 40px;
}

/* .list {
	padding: 50px;
} */

.list>li>a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */
	display: flex;
	align-items: center;
	color: #000000;
	margin: 40px;
}