@charset "UTF-8";

.mainbanner {
	width: 100%;
	height: 600px;
} 

.list_item {
	
}

.dogList {
	display: flex;
	flex-wrap: wrap;
}

.item_img img {
	width: 200px;
	height: 200px;
}
/* .banner ul{
	list-style: none;
	display: flex;
	padding-left: 0px;
} */
.banner {
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	left: 0;
	top: 0;
	width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
	transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
	width: 100%;
	height: 100%;
	padding: 0;
}

/* .slides li:first-child {
	margin-left: 100px;
} */ 
/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child) {
	float: left;
}

.slides li {
	float: left;
	padding: 0 20px;
}


.slides li img {
	height: 100%;
	width: 100%;
}

.banner-controller span {
	position: absolute;
	background-color: transparent;
	color: black;
	text-align: center;
	border-radius: 50%;
	padding: 10px 20px;
	top: 50%;
	font-size: 1.3em;
	cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.banner-controller span:hover {
	background-color: rgba(128, 128, 128, 0.11);
}

.prev {
	left: 10px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
	transform: translateX(-10px);
}

.next {
	right: 10px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
	transform: translateX(10px);
}

.list_item {
	margin-left: 10px;
}

.item_img img {
	width: 100%;
	height: 270px;
}

.item_txt {
	width: 100%
}

.dogList a {
	width: 25%;
}

.catList a {
	width: 25%;
}

.catList {
	display: flex;
	flex-wrap: wrap;
}

/*===============배너 작업 ==========================*/
.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
  margin-top: 120px;
}

/* effect */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;	
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}