@charset "UTF-8";

.item_img img{
	width: 250px;
	height: 250px;
}
.dogList{
	width:1200px;	
	display: flex;
	flex-wrap: wrap;
}
.catList{
	width:1200px;	
	display: flex;
	flex-wrap: wrap;
}
.list_item{
	margin-left:10px;
}
.banner img{
	width: 1400px;
	height: 600px;
}