@charset "UTF-8";

.mainbanner{
	width :100%;
	height: 800px;

}
.list_item{
	
}
.dogList{
	display: flex;
	flex-wrap: wrap;
}
.item_img img{
	width: 200px;
	height: 200px;
}
.banner ul{
	list-style: none;
	display: flex;
	padding-left: 0px;
}
.banner li{
	width: 100%;
}
.list_item{
	margin-left: 5px;
}