@charset "UTF-8";

section {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.page-body {
	width: 60%;
}

.template-footer-container {
    width: 100%;
    color: white;
    background-color: #005E93;
    bottom: 0;
    padding: 20px;
}
.footer-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-content {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 14px;
}

/* commons */