@charset "UTF-8";

section {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.page-body {
	width: 60%;
}

/* commons */