.mod-title {
	padding: 8px;
	font-size: 16px;
	width:100%;
	margin-bottom: 10px;
}

.mod-ctnt {
	resize: none;
	padding: 8px;
	font-size: 16px;
	width: 100%;
	min-height: 200px;
}

.mod-form {
	text-align: center;
	padding: 20px;
}

.mod-form div {
	text-align: center;
	width: 70%;
	margin: 10px auto;
}

.mod-form button {
	cursor: pointer;
	font-size: 16px;
	color: white;
	border: none;
	background-color: #005e93;
	border-radius: .4rem;
	padding: 6px 14px;
}