.pw-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pw-body {
	height: 100%;
}

.pw-text {
	font-size: 18px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 15%);
	padding: 6px;
	margin: 5px;
}

.pw-button {
	font-size: 18px;
	border: none;
	border-radius: .25rem;
	padding: 6px;
	background-color: #005e93;
	color: white;
	margin: 5px;
	cursor: pointer;
}