.admin-board tr {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    padding: 8px 3px;
}

.list-header {
    border-bottom: 1px solid #b3b3b3;
    font-weight: 600;
}

table tr td {
    text-align: center;
}

table tr td button {
    color: white;
    background-color: #015f93;
    border: none;
    border-radius: .3rem;
    box-shadow: 1px 1px 1px 1px rgb(173, 173, 173);
    padding: 5px 14px;
    font-size: 14px;
    cursor: pointer;
}

table tr:hover {
    background-color: #e3e3e3;
}

table {
    min-width: 910px;
}

h1 {
	margin: 50px 50px 0;
}

table {
	padding: 50px 40px 50px;
}

.search-user{
	position: absolute;
	right: 0;
}
.search-btn{
	 color: white;
    background-color: #015f93;
    border: none;
    border-radius: .3rem;
    box-shadow: 1px 1px 1px 1px rgb(173, 173, 173);
    padding: 5px 14px;
    font-size: 14px;
    cursor: pointer;
}
.search-text{
	width: 200px;
	height: 25px;
	border: none;
    box-shadow: 1px 1px 1px 1px #b3b3b3;
    border-radius: 0.03rem;
}