@charset "UTF-8";

body{
	display: flex;
	width: 100%;
	height: 100%;
	margin: 40px 0 0;
	justify-content: center;
	min-width: 1700px;
}

.admin-container {
	display: grid;
	grid-template-columns: .3fr 1fr;
	width: 90%;
	height: 60%;
	border: 2px solid #005e93;
}

header{
	text-align:center;
	background-color: #005E93;
}

header h1{
	font-size: 45px;
}

header div{
	color: white;
	
}
section{
	width: 100%;
	height: 100%;
}

.nav{
	height: 100%;
	margin-top: 80px;
}

.user{
	
	width: 100%;
	height: 15%;
}

/* .nav ul{
	padding-left: 0px;
} */

.nav li{
	line-height: 52px;
}

.nav a{
	text-decoration: none;
	color : white;
}

header h3{
	margin-top: 20px;
	font-size: 25px;
	
}

.user a{
	font-size: 15px;
}
.board a{
	font-size: 15px;
}

.board {

	margin-top: 25%;
}

.pagination {
	text-align: center;
	margin-top: 20px;
}

.pagination a:hover {
    background-color: #b3b3b3;
    color: red;
    font-weight: bold;
}

