@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body a {
	text-decoration: none;
	color: black;
}

body li {
	list-style: none;
}

.logo {
	text-align: center;
	font-size: 50px;
	background-color: #f7f7f7;
	margin: 0;
	padding-bottom: 20px;
	padding-top: 30px;
}

.login-btn {
	margin-right: 6px;
}

.login-btn:hover, .join-btn:hover, .nav-link.message:hover, .dropdown-item:hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

.join-btn {
	margin-right: 3px; 
}

.nav-header {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #919191;
	border-top: 3px solid #ececec;
}
.navList {
	width: 60%;
	min-width: 700px;
	display: flex;
	margin: 0;
	justify-content: space-between;
}

.navList li {
	text-align: center;
	padding: 16px 6px;
	cursor: pointer;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 28px;
}

.header-user {
	min-width: 400px;
	display: flex;
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 13px;
}

.nav-member {
	min-width: 200px;
	display: flex;
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 13px;
}

.header-user div {
	padding: 3px 5px;
}

.navList li {
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 15px 0;
	position: relative;
}

.navList li:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #000000;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.navList li:hover:after { 
	width: 100%; 
	left: 0; 
}

.item-message-icon {
	background-color: red;
	border-radius: 10rem;
	color: white;
	padding: 1px 3px;
	font-size: 12px;
}

.header-welcome {
	font-weight: 600;
}